<h2>Products</h2>

Product count: <%= Product.count %>

<p>
<%= product = Product.where('price < 20').first %>
</p>

<p>
  Product Name: "<%= product.name %>" costs $<%= product.price %>
</p>
<p>
  The seller for this product is named '<%= product.user.name %>'
</p>

<p>
  Find this View file in <%= Rails.root.join("app", "views", "products", __FILE__ ) %>
</p>
