<h2>Products</h2>

Product count: <%= Product.count %>

<% lots_of_products = Product.includes(:user).all %>

<ul>
  <% lots_of_products.each do |product| %>
    <li>
      Product Name: "<%= product.name %>"" costs $<%= product.price %>
      Sold by <%= product.user.name %>
    </li>
  <% end %>
</ul>

<p>
  Find this View file in <%= Rails.root.join("app", "views", "products", __FILE__ ) %>
</p>
